@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,400;1,500&family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
 
    outline: none; border:none;
    text-decoration: none;
    transition:all .2s linear;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: white;
    
}
#menu-bar{
    font-size: 2rem;
    cursor: pointer;
    color: black;
    border:.1rem solid black;
    padding: 10px 15px;
    display: none;
  }
.logo{
    text-transform: uppercase;
    line-height: 35px;
    font-size: 17px;
    font-weight: 500;
   
}
.logo a{
    text-decoration: none;
    color: black;
}
.logo a:hover{
    color: gray;
}
.logo:hover{
    letter-spacing: 2px;
}
.logo i{
    margin-right: 10px;
    font-size: large;
    letter-spacing: 2px;
    font-size: 18px;
}
nav ul{
    list-style: none;
    display: inline-flex;
    text-decoration: none;
    align-items: center;
    justify-content: space-evenly;
}
nav ul li{
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 20px;
    font-size: 15px;
    font-weight: 500;
    margin: 10px;
    border: 1px solid transparent;
   
}
nav ul li:hover{
    background-color: #ddd;
    
    
}
nav a{
    text-decoration: none;
    color: black;
}
nav ul li a:hover{
    color: gray;
}

nav ul li i{
    margin-right: 10px;
    font-size: large;
}

.dropbtn{
    background-color: #f9004d;
    color: white;
    padding: 10px;
    font-size: large;
    border: none;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a{
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 20px;
    font-size: 15px;
    font-weight: 500;
    margin: 10px;
    border: 1px solid transparent;
    display: block;
}
.dropdown-content a:hover{
    background-color: #ddd;
}

.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown:hover .dropbtn{
    background-color: transparent;
    color: black;
}

.main{
    height: 85vh;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/lib2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    
}


.card{
    width: 100%;
    padding: 10px;
}
.kadi .text{
    padding: 10px;
}
.kadi .text h4{
    text-align: center;
    margin: 5px;
    padding: 5px;
}
.kadi img i{
    color: black;
    font-size: larger;
}
.card input{
    width: 100%;
    padding: 5px;
    border: 1px solid plum;
    color: black;
    
    background-color: #ddd;
}
.card input:focus{
    border: 1px solid #f9004d;
    background-color: white;
}
.card a{
    border: 1px solid plum;
    padding: 10px;
    width: 40%;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 1px;
    background-color: blueviolet;
    color: white;
    text-decoration: none;
    text-align: center;
}
.card a:hover{
    background-color: transparent;
    color: black;
}
.card .btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-top: 20px;
}

.browse{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    border: 1px solid #f1f1f1;
    
}

.container{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
}

.kadi{
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #f9004d;
    background-color: whitesmoke;
    color: black;
    padding: 10px;
    height: 250px;
    
}
.kadi:hover{
    cursor: pointer;
    transform: rotate(5deg);
}

.kadi .img{
    border: 1px solid #f9004d;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  
}
.kadi .img i{
    font-size: 40px;
}

.btnz{
    position: absolute;
    top: 30%;
   
    z-index: 2;
}
























































/* Media Queries */
@media(max-width:768px){
    header{
        margin: 0;
        height: fit-content;
        position: fixed;
        top:0; left: 0; right:0; bottom: 20%;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background:white;
        
    }
    nav ul{
        display: block;
        display: none;
    }
    #menu-bar{
        display: initial;
    }
   
}